html {height: 100%; background: #000 url("/media/images/style.jpg") no-repeat fixed left top; background-size: 100%; color: #F1F3C4; font-family: Play, sans-serif}
body {height: 96%; margin: 1em 2em; width: 96%}
p{color: #A1C3B4;}
h1 {color: white; margin-right: 0; padding-right: 0;}

h1 span {color: #EFEF9E}
h3:first-letter{text-transform:uppercase}

/* Forms */
.form ul, .form li {display: block; padding: none; margin: none}
.form label {display: block; width: 20%; float: left;  margin-right: 1%}
.submit {margin-left: 21%;}
.button {padding: 1%; background: rgb(88, 18, 169); border-radius: 3px; text-align: center; line-height: 200%; cursor: pointer; text-decoration: none; color: #ddedFd; margin-right: 1px}
.button:hover {padding: 1%; background: rgba(88, 18, 169, 0.64); border-radius: 3px; line-height: 200%; cursor: pointer}
.button img {vertical-align: top}
.left {float: left}
.right {float: right }
.tright {text-align: right}
.clear {clear: both}
.reddy {background: rgba(255,0,0,0.4);}
.greeny {background: rgba(0,255,0,0.4);}
.reddy:hover {background: rgba(255,0,0,0.8);}
.greeny:hover {background: rgba(0,255,0,0.8);}
.small {font-size: small}
.half {width: 50%}
.song:hover {background: rgba(255,255,230,0.3);}
a {color: #91b4ff
}
#navigator {width: 58%; position: fixed}

a.menu {cursor:pointer; display: block; font-size: 1.4em; color: #EFEFEE; float: left;
    margin-right: 1px;
    text-decoration: none;
    border-radius: 1px;
    padding: 1% 2%;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.13) 0%, rgba(0,0,0,0.24) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.13)), color-stop(100%,rgba(0,0,0,0.24))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.13) 0%,rgba(0,0,0,0.24) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.13) 0%,rgba(0,0,0,0.24) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.13) 0%,rgba(0,0,0,0.24) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.13) 0%,rgba(0,0,0,0.24) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21ffffff', endColorstr='#3d000000',GradientType=0 ); /* IE6-9 */

}

#content {
width: 37%;
position: absolute;
text-align: justify;
margin-left: 60%;
background: rgba(0, 0, 0, 0.84);
z-index: 800;
padding-top: 100%; margin-top: -100%; padding-bottom: 100%; margin-bottom: -100%;
}
.bar {
    height: 18px;
    background: green;
}

#content .inner {  border-radius: 1px; }
#content img {border: solid black 4px}

#logo {font-size: 2.3em;color: #FFEFAA; font-family: Comfortaa;}
#logo a{text-decoration: none; color: #FFEFAA}
.current {color: #FFF; background: rgba(88,18,169,0.6);}
.song {cursor: pointer; padding: 2% 4%}
.pending {background: #00366e}
.totals {cursor: pointer; padding: 2% 4%; background: #000000; font-weight: bold;}
.totals img,.song img{margin-top: -4px}
.login {top: 1%; right: 1%; position: fixed}
.errorlist {color: red; margin: 0; padding: 0; list-style: none; font-size: small; margin-left: 21%}

li a{color: #AABB99; text-decoration: none}
.playing {border-radius: 2px;  padding: 1em 1em; margin-right: 1em;  font-size: small; margin-bottom: 1em}
.playing h4 {margin: 0; margin-bottom: 1em; text-decoration: none; display: block; border-radius: 1px; background: rgba(255,255,255,0.1); padding: 1%; color: white}
.current_tab  { background: rgba(0,0,0,0.44) !important; z-index: 2}
.controls {text-decoration: none; display: block; border-radius: 1px; background: rgba(0,0,0,0.5); color: white; text-align: right}
.controls img {vertical-align: top}
.playing #playing {border-radius: 2px; color: white; font-size: 1.5em}

#next_song {background: rgba(255,225,215,0.1)}
.box{border-radius: 2px; background: rgba(255,225,215,0.2); padding: 1em 1em; width: 92%; margin-bottom: 1em}

#track_info {float: left; width: 68%; margin-right: 2%}
#track_image {float: left; width: 30%}
#poster {z-index: 2}
/* Slide */

.slide {z-index: -5; float: left; position: fixed; width: 58%; float: left; min-height: 400px; max-height: 400px; overflow-y: auto;  background: rgba(0,0,0,.44) url("/media/images/grid.png") right bottom no-repeat;  font-size: small; }

#current_song, .extra_padding {padding: 2% 4%}
.placeholder {width: 100%; margin-top: 20%; text-align: center;color: rgba(255,255,255,0.5)}
.none {display: none}
.red {color: #ff3c00}
.green {color: greenyellow}


.modal {position: fixed; left: 15%; top: 25%; width: 20%; text-align: center; border: rgba(255,255,255,.8) solid 2px; padding: 5%; background: rgba(0,0,0,.9)}
