html {height: 100%; background: #000 url("/media/images/style.jpg") no-repeat fixed left top; background-size: 100%; color: #C1F3F4; font-family: Play, sans-serif}
body {height: 96%; margin: 1% 2%; width: 96%}
p{color: #A1C3B4;}
h1 {color: white; margin-right: 0; padding-right: 0;}
small {color: #63734F}
h1 span {color: #EFEF9E}
h3:first-letter{text-transform:uppercase}

#navigator {width: 35%; float: left; text-align: left; position: fixed; }
a.menu {display: block; font-size: 24px; color: #EFEFEE; float: left; margin-right: 2%}
#content {width: 670px; float: left; text-align: justify; background: rgba(255,255,255,0.06); border-radius: 4px; margin-left: 36%}
#content #inner {padding: 1% 5% }
#content img {border: solid black 4px}

#logo {font-size: 2.3em;color: #FFEFAA; font-family: Comfortaa;}
#logo a{text-decoration: none; color: #FFEFAA}
#current {color: white; font-weight: bold}
.login {top: 1%; right: 1%; position: fixed}
.errorlist {color: red; margin: 0; padding: 0; list-style: none; font-size: small; margin-left: 21%}

li a{color: #AABB99; text-decoration: none}
.playing {border-radius: 4px; background: rgba(255,225,215,0.2); padding: 5% 5%; margin-right: 5%; width: 80%; font-size: small; margin-bottom: 5%}
.playing h4 {margin: 0; margin-bottom: 5%; text-decoration: none; display: block; border-radius: 3px; background: rgba(255,255,255,0.1); padding: 1%; color: white}
.controls {text-decoration: none; display: block; border-radius: 3px; background: rgba(255,255,255,0.1); color: white; text-align: right}
.controls img {vertical-align: top}
.playing #playing {border-radius: 4px; color: white; font-size: 2em}

#next_song {background: rgba(255,225,215,0.1)}

section {
  width: 150px;
  height: auto;
  margin: 100px auto 0;
  position: absolute;
}

#slider{
  border-width: 1px;
  border-style: solid;
  border-color: #333 #333 #777 #333;
  border-radius: 25px;
  width: 100px;
  position: absolute;
  height: 13px;
  background-color: #8e8d8d;
  background: url('/media/images/bg-track.png') repeat top left;
  box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5),
           0 1px 0 0px rgba(250, 250, 250, .5);
  left: 20px;
}

.tooltip {
  position: absolute;
  display: block;
  top: -25px;
  width: 35px;
  height: 20px;
  color: #fff;
  text-align: center;
  font: 10pt Tahoma, Arial, sans-serif ;
  border-radius: 3px;
  border: 1px solid #333;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .3);
  box-sizing: border-box;
  background: linear-gradient(top, rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%);
}

.volume {
  display: inline-block;
  width: 25px;
  height: 25px;
  right: -5px;
  background: url('/media/images/volume.png') no-repeat 0 -50px;
  position: absolute;
  margin-top: -5px;
}

#slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: url('/media/images/handle.png') no-repeat 50% 50%;
  font-weight: bold;
  color: #1C94C4;
  outline: none;
  top: -7px;
  margin-left: -12px;
  border: none;
}

#slider .ui-slider-range {
  background: linear-gradient(top, #ffffff 0%,#eaeaea 100%);
  position: absolute;
  border: 0;
  top: 0;
  height: 100%;
  border-radius: 25px;
}
