{% extends "index.html" %}
      
{% block "content" %}
	<div class="poster">
		<h2>FAQ</h2>
		<ol>
			<li><b>За что и как тратится карма:</b>
			<ol>
				<li>Карма пополняется автоматически, по еденице в час, только в будни и только с восьми утра до семи вечера</li>
				<li>За Like - списывается 1 еденица у того, кто ставит и добавляется 1 еденица в карму владельцу трека.</li>
				<li>За Disike - аналогично Like, но у владельца трека списывается 1 еденица кармы.</li>
				<li>За Like своего трека - 2 еденицы кармы</li>
				<li>Кнопка Stop - 2 еденицы кармы</li>
				<li>Кнопка Play - 2 еденицы кармы</li>
				<li>Кнопка Pause - 2 еденицы кармы</li>
				<li>Смена трека - 2 еденицы кармы</li>
				<li>Изменение громкости - бесплатно</li>
				<li>Заливка трека - бесплатно</li>
			</ol>
			</li><br/>
			<li><b>Как составляется плэйлист</b><br/>
				Каждые 5 минут специальный скрипт смотрит за состоянием воспроизведения, если оно имеет статус "Остановлено", то запускается формирование нового плэйлиста.
				Скрипт пробегает по всем трекам в базе, берет отношение Like/Dislike, и если для текущего трека оно меньше 0.5 то вероятность попадания трека в плейлист 2 из 10, если отношение больше 0.5 но меньше чем среднее по лайкам, то вероятность попадания трека в плэйлист равна 0.5, если показатели трека превышают средний коэффициент лайков по всем композициям, то вероятность попадания в плэйлист 8 из 10.
				После того как в плэйлист будут добавлены треки, он перемешивается и запускается воспроизведение. 
			</li><br/>
			<li><b>Как остановить воспроизведения плеера вообще</b><br/>
				Если плеер находится в состоянии "Приостановлено", т.е. нажата клавиша Pause то новый плэйлисст не будет создаваться и воспроизведение не будет запускаться автоматически.
			</li>
			
		</ol>
	</div>
{% endblock %}
