{% load i18n %}
<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/LocalBusiness">
    <head>
        <meta itemprop="image" content="/media/images/grooplayer.jpg">
        <meta charset="utf-8" />
        <title>{%  trans "Grooplayer" %}</title>
        <link id="favicon" rel="shortcut icon" href="/media/images/grooplayer.png">
        <link href='http://fonts.googleapis.com/css?family=Play:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Comfortaa:700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

        <script type="text/javascript" src="/media/lastfm.api.md5.js"></script>
        <script type="text/javascript" src="/media/lastfm.api.js"></script>
        <script type="text/javascript" src="/media/lastfm.api.cache.js"></script>
	    <script type="text/javascript" src="/media/jquery-1.8.2.js"></script>
        <script type="text/javascript" src="/media/controls.js"></script>

        <script type="text/javascript" src="/media/vendor/jquery.ui.widget.js"></script>
        <script type="text/javascript" src="/media/jquery.iframe-transport.js"></script>
        <script type="text/javascript" src="/media/jquery.fileupload.js"></script>

        <link href="/media/images/play.png" type="image/png" rel="icon">
 	    <link rel="stylesheet" href="/media/css/base.css" media="all"/>
        <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1">
        <script>
            current_song_id = {{ current_song.id }}
        	current_song_file = "{{ current_song.file }}";
        	current_song_artist = "{{ current_song.artist }}";
            current_song_state = "{{ status.state }}";
            $(document).ready(function(){
                $('html, body').animate({
                scrollTop: $(".current").offset().top - 70}, 2000);
            });
        </script>

        <script src="/media/fileuploader.js" ></script>
        <link href="/media/css/fileuploader.css" media="screen" rel="stylesheet" type="text/css" />
        <script>
            $(function(){
                var uploader = new qq.FileUploader({
                    action: "/ajax-upload/",
                    element: $('#file-uploader')[0],
                    multiple: true,
                    onComplete: function(id, fileName, responseJSON) {
                        if(responseJSON.success) {
                            console.log(responseJSON);
                        } else {
                            alert("upload failed!");
                        }
                    },
                    onAllComplete: function(uploads) {
                        // uploads is an array of maps
                        // the maps look like this: {file: FileObject, response: JSONServerResponse}
                        client_reload();
                        showMessage("Загрузка завершена. Файлы добавлены в библиотеку");
                        load_profile();
                    },
                    params: {
                        'csrf_token': '{{ csrf_token }}',
                        'csrf_name': 'csrfmiddlewaretoken',
                        'csrf_xname': 'X-CSRFToken'
                    }
                });
            });
        </script>

        <script language="JavaScript"  type="text/javascript" src="/media/base.js"></script>
    </head>

<body>
    <div id="navigator">
        <a class="menu tab current_tab">{% trans "Плеер" %}</a>
        <a class="menu tab">{% trans "Библиотека" %}</a>
       <!-- <a class="menu tab">{% trans "Журнал" %}</a>-->
        <a class="menu tab">{% trans "Профиль" %}</a>
        <a class="menu tab">{% trans "FAQ" %}</a>

        <div class="clear"></div>
        <div id="tab_player" class="slide">
            {% if current_song %}
                <div class="playing" id="current_song">
                     <!-- <h4>Now {% if status.state = "play" %}playing{% else %} stopped {% endif %}</h4> -->
                    <div id="track_info">
                     {% if current_song.artist %} <span id="artist">{{ current_song.artist }}</span><br/>{% endif %}
                     <span id="playing">{{ current_song.title }}</span><br/>
                     {% if current_song.album %}<span id="album">Album: {{ current_song.album }} {% if current_song.date %} ({{ current_song.date }}){% endif %}</span><br/>{% endif %}
                     <small id="filename">File: /music/{{ current_song.file }}</small>

                     <div id="last_info"></div>
                    </div>
                    <div id="track_image">
                        &nbsp;
                    </div>
                    <br class="clear" />
                    <div style="height: .7em"></div>
                    <div>
                        <div class="clear"></div>
                        <br/>
                        <audio autoplay controls style="width:100%">
                            <source src="http://192.168.0.102:8000" />
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>
            {% endif %}
        </div>
        <div id="tab_library" class="slide hidden"></div>
        <!--<div id="tab_journal" class="slide hidden"></div>-->
        <div id="tab_profile" class="slide hidden">
            <div id="login_form" class="extra_padding none" >

                <div class="form" id="reg_form" url="/japi/register" callback="refistrationCallback" title="Регистрация" opened="false">
                    {% csrf_token %}
                    {{ registration_form.as_ul }}
                    <input type="hidden" name="next" value="/" />
                </div>

                <div class="form" id="log_form" url="/japi/login" callback="loginCallback" title="Вход" opened="false">
                        {% csrf_token %}
                        {{ login_form.as_ul }}
                        <input type="hidden" name="next" value="/" />
                </div>
            </div>
            <div id="profile" class="none">
                <div id="file-uploader"></div>
            </div>
        </div>
        <div id="tab_faq" class="slide hidden">
            <div id="faq" class="extra_padding" >
                <h2>Новое в этой версии</h2>
                <ol>
                    <li>Регистрация снова работает, и теперь не требуется авктивации профиля</li>
                    <li>Автовход сразу после регистрации</li>
                    <li>По заказу фанатов нашего радио, была добавлена функция МУЛЬТИАПЛОАДА!(только будте с ним пожалуйста аккуратнее)</li>
                    <li>2 кнопки для скачивания плейлиста для плееров.</li>
                    <li>Возможность скачивать текущий трек</li>
                    <li>Управлять плеером теперь снова можно - кнопки кое-как работают.</li>
                    <li>И прочие мелочи.</li>
                </ol>
                <h2>Известные проблемы и недоработки</h2>
                <ol>
                    <li>Статус воспроизведения обновляется только при перезагрузке страницы</li>
                    <li>Нет полноценной поддержки тем (зачатки только)</li>
                    <li>Кнопки на панели ведут себя как статические элементы, не подсвечиваясь и визуально не реагируя на клики.</li>
                    <li>Страница не перезагружается сама, когда плейлист заканчивается.</li>
                    <li>И еще много разных недоделок, кому интересно, добро пожаловать на <a href="https://github.com/bigbn/Grooplayer">github</a>.</li>
                </ol>

                <h2>FAQ</h2>
                <ol>
                    <li><b>За что и как тратится карма:</b>
                        <ol>
                            <li>Карма пополняется автоматически, по еденице в час, только в будни и только с восьми утра до семи вечера</li>
                            <li>За Like - списывается 1 еденица у того, кто ставит и добавляется 1 еденица в карму владельцу трека.</li>
                            <li>За Disike - аналогично Like, но у владельца трека списывается 1 еденица кармы.</li>
                            <li>За Like своего трека - 3 еденицы кармы</li>
                            <li>Кнопка Stop - 2 еденицы кармы</li>
                            <li>Кнопка Play - 2 еденицы кармы</li>
                            <li>Кнопка Pause - 2 еденицы кармы</li>
                            <li>Смена трека - 2 еденицы кармы</li>
                            <li>Изменение громкости - бесплатно(но уже не работает)</li>
                            <li>Заливка трека - бесплатно</li>
                        </ol>
                    </li><br/>
                    <li><b>Как составляется плэйлист</b><br/>
                        Каждые 5 минут специальный скрипт смотрит за состоянием воспроизведения, если оно имеет статус "Остановлено", то запускается формирование нового плэйлиста.
                        Скрипт пробегает по всем трекам в базе, берет отношение Like/Dislike, и если для текущего трека оно меньше 0.5 то вероятность попадания трека в плейлист 2 из 10, если отношение больше 0.5 но меньше чем среднее по лайкам, то вероятность попадания трека в плэйлист равна 0.5, если показатели трека превышают средний коэффициент лайков по всем композициям, то вероятность попадания в плэйлист 8 из 10.
                        После того как в плэйлист будут добавлены треки, он перемешивается и запускается воспроизведение.
                    </li><br/>
                    <li><b>Как остановить воспроизведения плеера вообще</b><br/>
                        Если плеер находится в состоянии "Приостановлено", т.е. нажата клавиша Pause то новый плэйлисст не будет создаваться и воспроизведение не будет запускаться автоматически.
                    </li>

                </ol>
            </div>
        </div>
    </div>

    <div id="content">
      <div class="inner" id="content_container">
        <div class="poster">
           	{% for song in playlist  %}
           		<div id="{{ song.id }}" class="song {% if song.pos = current_song.pos %} current"{% else %}" href="/play/{{ song.id }}" {% endif %} alt="{{ song.id }}">
           		    <small><b>{{ song.artist }}</b> - {{ song.title }}</b></small>
           		</div>
           	{% endfor %}
        </div>
      </div>
    </div>

    <div id="themes">
        <ul>
            <li class="theme" id="theme_standard">Стандартная</li>
            <li class="theme" id="theme_old">Старая</li>
            <li class="theme" id="theme_green">Зеленая</li>
            <li class="theme" id="theme_red">Крассная</li>
            <li class="theme" id="theme_silver">Серая</li>
            <li class="theme" id="theme_yellow">Желтая</li>
        </ul>
    </div>
</body>
